<div class="container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-12 col-md-4 d-flex align-items-center justify-content-center justify-content-md-start mb-3 mb-md-0">
            <a href="/" class="ms-3 me-2 text-body-secondary text-decoration-none lh-1">
                <img class="bi" width="60" height="80" src="/images/small-logo.svg" alt="Logo">
            </a>
            <span class="text-body-secondary text-center text-md-start"><b>© 2024 Venuka Siriwardena</b></span>
        </div>

        <ul class="nav col-12 col-md-4 justify-content-center justify-content-md-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#"><img src="/images/linkedin.svg" alt="LinkedIn" width="40" height="60" class="d-inline-block align-text-top"></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><img src="/images/instagram.svg" alt="Instagram" width="40" height="60" class="d-inline-block align-text-top"></a></li>
            <li class="ms-3 me-3"><a class="text-body-secondary" href="#"><img src="/images/facebook.svg" alt="Facebook" width="40" height="60" class="d-inline-block align-text-top"></a></li>
        </ul>
    </footer>
</div>