<div class="w-100 sticky-top navigation">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src="/images/small-logo.svg" alt="Bootstrap" width="60" height="80" class="d-inline-block align-text-top ms-5">
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="/categories" class="nav-link px-2">Categories</a></li>
      <li><a href="/popular_post" class="nav-link px-2">Popular Posts</a></li>
      <li><a href="/contact" class="nav-link px-2">Contact</a></li>
      <li><a href="/about" class="nav-link px-2">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2" id="signInBtn">Sign In</button>
      <button type="button" class="btn btn-primary me-5" id="signUpBtn">Get Started</button>
    </div>
  </header>
</div>
