<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <% if (error.length > 0) { %>
        <div class="alert alert-danger">
          <%= error %>
        </div>
      <% } %>
    <section class="bg-light form-section">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="card shadow-sm">
                        <div class="row g-0">
                            <div class="col-12 col-md-6">
                                <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy"
                                    src="/images/signin-image.jpg" alt="Welcome back you've been missed!">
                            </div>
                            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                                <div class="p-4 w-100">
                                    <div class="text-center mb-4">
                                        <a href="/">
                                            <img src="/images/small-logo.svg" alt="BootstrapBrain Logo" width="175"
                                                height="57">
                                        </a>
                                    </div>
                                    <h2 class="h4 text-center">Registration</h2>
                                    <div class="d-flex gap-3 flex-column mt-4">
                                        <a href='/auth/google' class="btn btn-lg btn-outline-dark">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                                <path
                                                    d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                                            </svg>
                                            <span class="ms-2 fs-6">Log in with Google</span>
                                        </a>
                                    </div>
                                    <p class="text-center mt-4 mb-4">Or enter your details to register</p>
                                    <form action="/signup" method="POST">
                                        <div class="mb-3">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" name="fName" id="firstName"
                                                    placeholder="First Name" required>
                                                <label for="firstName" class="form-label">First Name</label>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" name="lName" id="lastName"
                                                    placeholder="Last Name" required>
                                                <label for="lastName" class="form-label">Last Name</label>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-floating">
                                                <input type="email" class="form-control" name="email" id="email"
                                                    placeholder="name@example.com" required>
                                                <label for="email" class="form-label">Email</label>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-floating">
                                                <input type="password" class="form-control" name="password" id="password"
                                                    placeholder="Password" required>
                                                <label for="password" class="form-label">Password</label>
                                            </div>
                                        </div>
                                        <% if (error && error.length > 0) { %>
                                            <p style="color: red;"><%= error %></p>
                                        <% } %>
                                        <div class="d-grid">
                                            <button class="btn btn-dark btn-lg" type="submit">Sign up</button>
                                        </div>
                                    </form>
                                    <p class="mt-4 mb-0 text-secondary text-center">Already have an account? <a href="/login"
                                            class="link-primary text-decoration-none">Sign in</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>